#header {
    background-image: url("../img/les2.png");
    height: 190px;
}

.all {
    background-image: url("../img/background.jpg");
}

.container {
    background-color: white;
}
.nav{
    overflow: hidden;
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}

.logo{
    float: left;
    max-width: 210px;
    margin: 2px 0;
}

.menu{
    float: right;
    color: white;
    width: 100%;
    max-width: 750px;
    list-style-type: none;
    margin: 50px 100px 0 0;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    font-size: 130%;
    margin-right: 10px;
    font-family: "PT Sans",sans-serif;
    font-weight: 600;
    padding: 3px;
    border-radius: 3px;
    list-style-type: none;
    display: inline-block;
}

.menu ul li.non-border:hover {
    border: 0;
    background: transparent;
}

.menu ul > li:hover, .dropdown li:hover {
    background-color: #f26522;
}



.menu ul .ciara li:hover {
    background-color: none;
    text-decoration: none;
}

.menu a {
    color: white;
    text-decoration: none;
}

a:hover {
     color:white;
     text-decoration:none;
     cursor:pointer;
}

.menu-icon {
    display: none;
}

.menu-responsive {
    display: none;
}

@media only screen and (max-width: 1062px) {

    .column {
        width: 100%;
        margin: 20px 0;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        float: right;
        color: #FFF;
        margin: 68px 40px 0 0;
        display: table;
    }

    .menu-icon img {
        max-width: 40px;
    }

    .menu-responsive {
        font-family: "PT Sans",sans-serif;
        background: #FFF;
    }

    .menu-responsive ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-responsive ul li {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #d6d6d6;
        padding: 10px 12px;
    }

    .menu-responsive ul li:last-child {
        border: 0;
    }

    .menu-responsive ul li a {
        color: #000;
        text-decoration: none;
        display: block;
    }

    #widgetweather {
        margin: 0 auto;
    }

    .pocasie img,
    .pocasie button {
        margin: 12px auto;
        display: block;
    }
}